.main {
    display: flex;
    justify-content: center;
    padding: 2em;
    height: 90vh;
    align-items: middle;
}

h1 {
    
    text-align: center;
    font-family: sans-serif;
    color:brown;
    margin-top: 0px;
}

.clockbox,
#clock {
    width: 100%;
}

.circle {
    fill: #e6e6e6;
    stroke: gold;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: lightblue; /*I like a little color in here, makes it fancy*/
}
.hour-marks {
    fill: none;
    stroke: gold;
    stroke-width: 7;
    stroke-miterlimit: 10;
}

/* This box keeps the arms center so it looks more like a clock, less like a Dali.*/
.arm-box {
    fill: none;
}
.hour-arm {
    fill: none;
    stroke: #999999;
    stroke-width: 10;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #999999;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #999999;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Arm Rotator Animation*/
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
}
